# Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# Build files
build/
dist/
out/
coverage/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# IDE and Editor Files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Local config
local.json
local.config

# OS-specific files
*.exe
*.dll
*.so
*.dylib
*.dmg

# npm
.npmrc

# Yarn
.yarn/
.yarn-integrity
.pnp.js